<div class="dg-login">
    <h4 class="dg-link dg-link-back">Back</h4>
    <div class="dg-login-form">
        <h3 class="dg-title-small">Become a part of the Team</h3>
        <form class="dg-form dg-form-jiro">
            <span class="dg-input">
                <input class="dg-input-field" type="email" id="dg-email" />
                <label class="dg-input-label" for="dg-email">
                    <span class="dg-input-label-content">Enter your email</span>
                </label>
            </span>

            <input class="dg-btn dg-branded dg-btn-forgot" type="submit" value="Email a reset link">
        </form>

        <h3 class="dg-title-small dg-success-message"></h3>
    </div>
</div>