<div class="dg-login">
    <h4 class="dg-link dg-link-back">Back</h4>
    <div class="dg-login-form">
        <h2 class="dg-title">Become a part of the Team</h2>
        <form class="dg-form dg-form-jiro">
            <span class="dg-input">
                <input class="dg-input-field" type="email" id="dg-email" />
                <label class="dg-input-label" for="dg-email">
                    <span class="dg-input-label-content">Email</span>
                </label>
            </span>
            <span class="dg-input">
                <input class="dg-input-field" type="password" id="dg-password"/>
                <label class="dg-input-label" for="dg-password">
                    <span class="dg-input-label-content">Password</span>
                </label>
            </span>

            <span class="dg-input dg-input-hidden">
                <input class="dg-input-field" type="text" id="dg-username"/>
                <label class="dg-input-label" for="dg-username">
                    <span class="dg-input-label-content">What's your name?</span>
                </label>
            </span>

            <input class="dg-btn dg-branded dg-btn-login" type="submit" value="Enter">
        </form>

        <h4 class="dg-link dg-link-forgot">Forgot your password?</h4>
    </div>
</div>