<div class="dg-login">
    <div class="dg-login-landing">
        {{{trophey}}}
        <h2 class="dg-title">Sign up with Facebook and get 10 free points</h2>
        <h4 class="dg-pretitle">or login, if you are a member already</h4>

        <div class="choices-area">
            <div class="dg-btn dg-fb-login dg-branded">Enter with Facebook</div>
            <div class="dg-btn dg-email-login dg-white">Enter with email</div>
        </div>
    </div>
</div>