<div class="dg-push-page">
    <div class="dg-push-notification-holder">
        {{{notificationIcon}}}

        <h2 class="dg-notification-title">Enable notifications to know if your bet wins</h2>

        <div class="dg-btn dg-branded">Enable notifications</div><br/><!--
        --><div class="dg-btn dg-white">Cancel</div>
    </div>
</div>