{{#.}}
    <li class="dg-team-player" data-id="{{OutcomeId}}" data-player="{{FirstScorer}}">
        <div class="dg-player-image"
             style="background-image: url('{{ImageUrl}}')"></div>
        <div class="dg-player-text">
            <p class="dg-player-name">{{FirstScorer}}</p>
            <p class="dg-player-team">{{ScorerTeam}}</p>
        </div>
    </li>
{{/.}}
