<div class="dg-notification">
    {{{error}}}
    <ul class="dg-notification-holder">
        {{#lines}}<li>{{.}}</li>{{/lines}}
    </ul>
    <div class="dg-notification-close">&times;</div>
</div>