<div class="dg-virtual-bet-panel">
    {{title}}
    {{^title}}
        <div class="dg-choice">
            <div class="dg-image-holder" style="background-image: url('{{icon}}')"></div>
            <div class="dg-choice-answer">{{{question}}}</div>
        </div>
    {{/title}}
    {{{betSlider}}}
    <div class="dg-btn dg-branded">Place virtual bet</div>
</div>