<div class="dg-panel">
    <div class="dg-confirm-email">
        <div id="email-confirm">
            <h3 class="dg-pretitle">Please, confirm your email</h3>
            <div class="dg-btn dg-small dg-white">Send confirmation</div>
        </div>
        <h3 id="email-sent" class="dg-pretitle" style="display:none;"></h3>
    </div>
</div>