<div class="dg-team dg-{{Side}}">
    <div class="dg-image" style="background-image: url('{{ImageUrl}}')"></div>
    <div class="dg-score-holder">
        <div class="dg-score dg-score-down dg-results-hidden"></div>
        <div class="dg-score-value">0</div>
        <div class="dg-score dg-score-up dg-results-hidden"></div>
    </div>
    <div class="dg-team-name">{{Name}}</div>
</div>