<div class="dg-bet-holder">
    <h2 class="dg-bet-value">0 credits</h2>
    <input min="0" max="200" value="0" step=".01" type="range" class="dg-bet-slider">
    <input min="0" max="200" value="0" step=".01" type="text" class="dg-bet-slider dg-bet-slider-text" maxlength="6" onkeypress="return event.charCode >= 48 && event.charCode <= 57">

    <h3 class="dg-bet-odds"></h3>
</div>